*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.maincontainer{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(225deg, aliceblue, rgb(250, 238, 214));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    height: 400px;
    width: 300px;
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQL5tsiOYtels_uz6JOwtNGseZozC57J2nssg&usqp=CAU');
    background-size: cover;
    border-radius: 10px 0px 0px;
    text-align: center;
    padding: 10px;
}
#search{
    height: 50px;
    width: 250px;
    border: 3px solid gold;
    border-radius: 15px;
    padding: 10px; 
}
#btn{
    background-color: rgb(0, 132, 255);
    height: 50px;
    width: 300px;
    color: white;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}
.size{
    font-size: 20px;
    color: blue;
    padding-top: 20px;
    z-index: 1;
}
.subcont{
    height: 150px;
    width: 200px;
    background-color: white;
    border: 3px solid gold;
    margin: 30% 15%;
}